pillow==11.0.0
wxPython==4.2.1
webrtcvad==2.0.10
SpeechRecognition==3.10.4
PyAudio==0.2.14
requests==2.32.3
matplotlib==3.9.2
ultralytics==8.2.60
huggingface-hub==0.24.5
llama-cpp-python==0.2.87
transformers==4.44.0
langchain==0.2.12
langchain_experimental==0.0.64
sentence-transformers==3.0.1
pyttsx3==2.91
